* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #bca7fb; */
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.hidden-word {
  margin-bottom: 100px;
}

.tries {
  position: absolute;
  top: 50%;
  right: 0;
}

#guess-input {
  padding: 10px;
  font-size: inherit;
}

.correct-guesses {
}

.correct-letters {
  color: green;
}
.wrong-letters {
  color: red;
}

.hidden-text {
  display: none;
}

.hidden-winner {
  background-color: #69db7c;
}

.hide {
  display: none;
}
