* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
}

.calculator,
h1 {
  max-width: 500px;
  margin: 0 auto;
}
.numbers {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 3px;

  /* grid-template-rows: 1; */
}
.button {
  padding: 10px;
}

.result {
  margin: 10px 0;
}

.result-p {
  padding: 15px;
}
